$background-color: #181a1b; // For background, our main color.
$secondary-color: #2a272a; // for components, or cards, navbar, footer etc..
$trigger-yellow: #ffa835; // our yellow color, for buttons and stuff.
$trigger-yellow-hower: #cf8829;
$light-text: #cbcbcb;
$wallet-connected: #00ff00;
$wallet-not-connected: #ff0000;
$status-red: #ff5151;
$input-box: #3F3C3F;
