/* utils */

.solid_border {
    border-radius: 10px;
    border: 4px solid #2a272a;
  }
  .heading1 {
    font-size: 2em;
    font-weight: 600;
  }
  
  .sm-btn {
    border-radius: 8px;
    background-color: $trigger-yellow;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
  }
  