.container {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  .flex_wrapper {
    margin-left: 5px;
  }
  #address {
    font-size: 1.1em;
    font-weight: 500;
  }
  #amount {
    font-size: 0.8em;
    font-weight: 300;
  }
}
